version: "3.8"
services: 
  frontend:
    build: .
    container_name: frontend
    restart: always
    ports: 
      - "5173:5173"
    env_file:
      - .env
    volumes:
      - .:/usr/src/app  
      
    environment:
      - CHOKIDAR_USEPOLLING=true
