name: Dev Build & Test

on:
    push:
        branches:
          - develop
            
jobs:
    build:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                node-version: 18
            - name: Install frontend dependencies
              working-directory: ./frontend
              run: npm install
        
            - name: Build frontend
              working-directory: ./frontend
              run: npm run build     
            
            - name: Install backend dependencies
              working-directory: ./backend
              run: npm install
      
            - name: Run backend tests
              working-directory: ./backend
              run: npm test || echo "No tests yet"  